{{ define "design.tmpl" }}
{{.content}}
<span style="display:none;" id="pdf_save_path">{{.pdf_save_path}}</span>
<span style="display:none;" id="getDefaultTemplate">{{.getDefaultTemplate}}</span>
<span style="display:none;" id="saveTemplate">{{.saveTemplate}}</span>
<span style="display:none;" id="saveHTML">{{.saveHTML}}</span>
<span style="display:none;" id="getIndexTemplate">{{.getIndexTemplate}}</span>
<span style="display:none;" id="generate">{{.generate}}</span>
<span style="display:none;" id="pdf_prefix">{{.pdf_prefix}}</span>
{{ end }}
